# Ignore helper docs
HELP.md

# Maven output
target/

# Maven Wrapper - Keep everything except the .jar
!.mvn/
!.mvn/wrapper/
.mvn/wrapper/maven-wrapper.jar

# IDEs
## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# Gradle output (if used)
build/


# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Test reports
surefire-reports/

# Docker-related
*.tar
*.sql
*.bak
docker-compose.override.yml
docker-compose*.local.yml
.docker/
.dockerignore
volumes/
tmp/
# Environment / secret config files
.env
application-dev.yaml
